.idea
*/.gradle
*/.idea
*/build
*/gradle
*/build
*/build.gradle
*/gradlew
*/gradlew.bat
*/settings.gradle
**/.gradle
**/.idea
**/build
**/gradle
**/build.gradle
**/gradlew
**/gradlew.bat
**/settings.gradle
PIPEv4.3.0
tmp
tmp2
Lab12